/* Set background color for the website */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif; /* Default font */
}

/* Container styles */
.container {
    width: 80%; /* Set width of the page */
    margin: 0 auto; /* Center the page */
}

/* Header styles */
header {
    /* background-color: #2a4c4e; Dark background color */
    margin-top: 20px; /* Add top margin */
    margin-bottom: 20px; /* Add bottom margin */ 
    border-radius: 10px; /* Rounded borders
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Shadow */
    text-align: center; /* Center text */
    padding: 20px; /* Add padding */
    height: 80%;
}


nav {
    text-align: center;
    padding: 10px;
    background-color: #4fa1ee; /* Set your desired background color */
    border-radius: 10px;
    display: flexbox;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px; /* Increase the margin for more spacing between links */
    font-weight: bold; /* Add some emphasis to the links */
    
}

nav a:hover {
    color: rgb(37, 65, 66);
    
}

@media only screen and (max-width: 700px) {
    .mobile nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .tablet nav{
      display: none;
    }
  }
/* Main content styles */
main {
    display: block; /* Ensure block display */
    background-color: #fff; /* White background */
    padding: 20px; /* Add padding */
    margin-bottom: 20px; /* Add bottom margin */
    border-radius: 10px; /* Rounded borders */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Shadow */
}

h1 {
    font-family: "GFS Didot", serif;
    text-align: center;
    margin-top: 5px;
    color: #ecd760;
    margin-bottom: 1%;
    font-weight: bolder;
}

h2 {
    font-family: "GFS Didot", serif;
    text-align: center;
    margin-top: 5px;
    color: #ecd760;
    margin-bottom: 1%;
    font-weight: bolder;
}
h3 {
    font-family: "GFS Didot", serif;
    text-align: center;
    margin-top: 20px;
    color: #170064;
    margin-bottom: 2%;
}
section {
    padding: 20px;
    margin: 50px;
    box-shadow: 8px 8px 8px #170064;
    border-radius: 45px;
    border: 2px solid #170064;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

aside {
    margin-top: 20px;
    margin-left: 20px;
    background-color: #f1e0a6;
    color: #1b1d20;
    box-shadow: 5px 5px 8px #000;
    border-radius: 0 15px;
}
aside p {
    margin: 0;
}
main p {
    text-align: center;
}
aside h1 {
    color: #cce;
    margin: 0;
    text-align: center;
}
aside h2 {
    color: rgb(73, 59, 148);
    margin: 0;
}

.homecontact {
    text-decoration: none;
    font-weight: light;
    font-size: xx-large;
    color: #ccc;
}
footer {
    font-size: 14px; /* Reduce font size */
    text-align: center; /* Center text */
    margin-top: 20px; /* Add top margin */
}

